<div class="header-sidebar">
    <div class="header-menu">
        <div>
            <h1 class="titleCustom text-white">Fitness<span class='drive'>Drive</span></h1>
        </div>
        {# <div id="sidebarBtn" class="sidebar-btn">

            <i class="fas fa-bars"></i>
        </div> #}
        <ul class="icon-fas">
            {# <li>
                <a class="fas-fa" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </li> #}
            <li>
                <a class="fas-fa" title='Déconnexion' href="{{ path('app_logout') }}">
                    <i class="fas fa-power-off"></i>
                </a>
            </li>
        </ul>


    </div>
</div>

	
