<div class="header-sidebar">
    <div class="header-menu">
        <div>
            <h1 class="titleCustom text-white">Fitness<span class='drive'>Drive</span></h1>
        </div>
        <div id="sidebarBtn" class="sidebar-btn">

{# JE L AI MIS DS PARTNER/INDEX.HTML.TWIG #}
        {# {% if app.user %}
            <h2 class='text-light'>
                <i class="far fa-user"></i>

                {{ app.user.username }}
            </h2>

        {% endif %} #}


        </div>

        <ul class="icon-fas">
            <li>
                <a class="fas-fa" title='Déconnexion' href="{{ path('app_logout') }}">
                    <i class="fas fa-power-off"></i>
                </a>
            </li>
        </ul>


    </div>
</div>

	

