<aside>
	<div class="sidebar">
		<div class="sidebar-menu">
			<li class="item" id="user">
				<a href="#user" class="menu-btn" alt="Compte Utilisateur" title="Compte Utilisateur">
					<i class="fas fa-user" ></i>
					<span class="d-none d-md-block  " >Utilisateur<i class="fas fa-chevron-down drop-down"></i>
					</span>
				</a>
				<div class="sub-menu">
					<a href="{{ path('user_new') }}" alt="Ajouter" title="Ajouter">
						<i class="fa fa-plus "></i>
						<span>Ajouter</span>
					</a>
					<a href="#" alt="Modifier" title="Modifier">
						<i class="fa fa-pencil "></i>
						<span>Modifier</span>
					</a>
				</div>
			</li>
			<li class="item" id="partner">
				<a href="#partner" class="menu-btn" alt="Franchise" title="Franchise">

					<i class="fa-regular fa-address-book"></i>
					<span class="d-none d-md-block ">Franchise<i class="fas fa-chevron-down drop-down"></i>
					</span>
				</a>
				<div class="sub-menu">
					<a href="{{ path('new_partner') }}" alt="Ajouter" title="Ajouter">
						<i class="fa fa-plus "></i>
						<span>Ajouter</span>
					</a>
					<a href="#" alt="Modifier" title="Modifier">
						<i class="fa fa-pencil "></i>
						<span>Modifier</span>
					</a>
				</div>
			</li>
			<li class="item" id="structure">
				<a href="#structure" class="menu-btn" alt="Structure" title="Structure">

					<i class="fa-regular fa-address-card"></i>
					<span class="d-none d-md-block ">Structure<i class="fas fa-chevron-down drop-down"></i>
					</span>
				</a>
				<div class="sub-menu">
					<a href="{{ path('new_structure') }}" alt="Ajouter" title="Ajouter">
						<i class="fa fa-plus "></i>
						<span>Ajouter</span>
					</a>
					<a href="#" alt="Modifier" title="Modifier">
						<i class="fa fa-pencil "></i>
						<span>Modifier</span>
					</a>
				</div>
			</li>
			<li class="item" id="permissions">
				<a href="#permissions" class="menu-btn" alt="Permission" title="Permission">

					<i class="fa-regular fa-address-card"></i>
					<span class="d-none d-md-block ">Permissions<i class="fas fa-chevron-down drop-down"></i>
					</span>
				</a>
				<div class="sub-menu">
					<a href="#" alt="Ajouter" title="Ajouter">
						<i class="fa fa-plus "></i>
						<span>Ajouter</span>
					</a>
					<a href="#" alt="Modifier" title="Modifier">
						<i class="fa fa-pencil "></i>
						<span>Modifier</span>
					</a>
				</div>
			</li>
		</div>
	</div>
</aside>
