<section>
{% for user in users %}
    <div class="border user ">
        <h5 ><strong>{{user.username}}</strong></h5>
        <p class="">{{user.email}}
            <a type="button" class="btn-sm  btn-warning right" alt="Modifier le compte de connexion" title="Modifier le compte de connexion" href="{{ path('user_edit', {'id': user.id}) }}">Modifier
            </a>
        </p>
    </div>
    
{% endfor %}
</section>

