{% extends 'base.html.twig' %}

{% block title %}Franchise | {{ parent() }}{% endblock %}

{% block body %}
<body>
    {% block navbar %}  
        {% include "_partials/_navbarClient.html.twig" %} 
    {% endblock %}

    <main class="container-fluid">

{# A VOIR OU JE LE MET DS NAV OU MAIN #}
    {# {% if app.user %}
        <h2 class=''>Bienvenue {{ app.user.username }} </h2>
    {% endif %}
    #}
    {% if partner %}

        <h3>Fitness Drive - {{partner.namePartner}}</h3>

        <h4>Vos Structures</h4>

    <!-- Display the structures -->
        {% for structure in structures %}


        <!-- Display the structures du partner -->
            {# {% if structure.partner.id %} #}
                {% include "partner/_listStructures.html.twig" %}
            {# {% else %}
                <div class="alert alert-success">
                    <p> Oups une erreur est survenue !</p>
                </div>
            {% endif %} #}

        {% endfor %}

            <h4>Vos permissions</h4>
    {% else %}
        <div class="alert alert-success">
            <p> Oups une erreur est survenue !</p>
        </div> 
    {% endif %}


    </main> 

</body>
{% endblock %}




