{% extends 'base.html.twig' %}

{% block title %}Franchise | {{ parent() }}{% endblock %}



{% block body %}

{{ parent()}}

<main class="container">

    <h2>Bienvenue sur votre compte   CLIENT</h2>

    <p>Voici vos structures et vos permissions</p>



</main> 
{% endblock %}




