.logo
    border-radius: 20%
    box-shadow: 1px 1px 2px black, 0 0 0.5em white, 0 0 0.5em white

.main-container
    width: auto
    margin-top: 75px
    margin-left: 45px
    padding-left: 10px
    padding-right: 10px
    padding-top: 10px

// STYLE BTN start
.btnHome
    background-color: $green
    color: #fff 
    transition: 0.3s
    transition-property: color
    &:hover 
        color: #000

.btnCustom
    background-color: $greenDark
    color: #fff 
    font-weight: 800
    transition: 0.3s
    transition-property: color
    text-align: center
    margin: auto
    display: flex
    align-items: center
    &:hover 
        color: #000


.btnDetail
    background-color: $greenDark
    color: #000 
    transition: 0.3s
    transition-property: color
    &:hover 
        color: #fff

.btn-warning
    transition: 0.3s
    transition-property: color
    &:hover 
        color: #fff

// STYLE BTN end


// STYLE TITLE start
.titleCustom
    font-size: 30px
    font-weight: 900
    & .drive
        color: #1de085
        text-transform: uppercase

.titleIndex
    color: #000
    font-weight: 700
    margin: 10px
    font-size: 2em
    text-align: center
// STYLE TITLE end


// STYLE FORM START
.form
    margin: 0 15px
    margin-top: 40px
    padding: 20px
    border: solid black 2px
    border-radius: 5px
    box-shadow: 10px 10px 5px $backGHS
    background-color: $green

// STYLE FORM END

// STYLE SEPARATOR START
.separator
    height: 3px
    width: 50%
    border: none
    box-shadow: none
    margin: auto
    margin-top: 30px
    margin-bottom: 30px
// STYLE SEPARATOR END


