.logo
    border-radius: 20%
    box-shadow: 1px 1px 2px black, 0 0 0.5em white, 0 0 0.5em white

// HEADER PAGE LOGIN HOME START
.headerLoginHome
    border-bottom: solid 1px #fff
    box-shadow: 1px 1px 2px black, 0 0 0.5em $green, 0 0 0.2em $green
    display: flex

.navLoginHome
    display: flex
    justify-content: center
    align-items: center
// HEADER PAGE LOGIN HOME END

// STYLE MAIN  START
//admin start
.main-container
    width: auto
    margin-top: 75px
    margin-left: 45px
    padding-left: 10px
    padding-right: 10px
    padding-top: 10px
//admin end

//structure start
.bgStructure
    width: 100%
    height: 100vh
    background: rgb(51, 48, 48) url("../../images/img6.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
//structure end

//partner start
.bgPartner
    width: 100%
    height: 100vh
    background: rgb(51, 48, 48) url("../../images/img4.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
//partner end

//contact start
.bgContact
    width: 100%
    height: 100vh
    background: rgb(51, 48, 48) url("../../images/img1.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
//contact end
// STYLE MAIN  END

// STYLE BTN start
.btnHome
    background-color: $green
    color: #fff 
    transition: 0.3s
    transition-property: color
    &:hover 
        color: #000

.btnCustom
    background-color: $greenDark
    color: #fff 
    font-weight: 800
    transition: 0.3s
    transition-property: color
    text-align: center
    margin: auto
    display: flex
    align-items: center
    &:hover 
        color: #000

.btnDetail
    background-color: $greenDark
    color: #000 
    transition: 0.3s
    transition-property: color
    &:hover 
        color: #fff

.btn-warning
    transition: 0.3s
    transition-property: color
    &:hover 
        color: #fff

// STYLE BTN end


// STYLE TITLE start
.titleCustom
    font-size: 30px
    font-weight: 900
    & .drive
        color: #1de085
        text-transform: uppercase

.titleIndex
    color: #000
    font-weight: 700
    margin: 10px
    font-size: 2em
    text-align: center

.titleClient
    color: #000
    font-weight: 500
    margin: 10px
    font-size: 1.8em
    text-align: center

.titleStructure
    text-shadow: #000 1px 0 10px
    color: #fff
    font-weight: 700
    margin: 10px
    font-size: 1.8em
    text-align: center

.titlePart
    text-shadow: #000 1px 0 10px
    color: #fff
    font-weight: 500
    margin: 10px
    font-size: 1.8em
    text-align: center

// STYLE TITLE end


// STYLE FORM START
.form
    margin: 0 35px
    margin-top: 60px
    padding: 20px
    border: solid black 2px
    border-radius: 5px
    box-shadow: 10px 10px 5px $backGHS
    background-color: $green
    max-width: 700px
    margin: auto

// STYLE FORM END

// STYLE SEPARATOR START
.separator
    height: 3px
    width: 50%
    border: none
    box-shadow: none
    margin: auto
    margin-top: 30px
    margin-bottom: 30px
// STYLE SEPARATOR END

// STYLE AUTRE START

.textGreen
    color: #fff
    font-weight: 900
    text-shadow: #000 1px 0 10px
    cursor: pointer

.alert
    max-width: 500px
    margin: auto
    margin-top: 50px

// STYLE AUTRE END