{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('test') }}
                
        {% endblock %}
{% block body %}
<body class="body-home" >
    <main>
        <h1>Fitness Drive</h1>

        <div class="box-connexion">
            <div class="login">
                <label>Veuillez saisir vos identifiants</label>
                <input type="email" placeholder="exemple@youpy.fr" >
                <label>Veuillez saisir votre mot de Passe</label>
                <input type="password" placeholder="" >
            </div>
        </div>
    </main>

</body>
{% endblock %}