{% extends 'admin/index.html.twig' %}

{% block title %}Liste  | {{ parent() }} {% endblock %}

{% block body %}

    <main>
        <h1> {{titleList}} </h1>
    <ul>
        
            <li> Nom Admin : {{admin.name}} 
            </li>
                
        
        
        
        </ul>

    </main>


{% endblock %}
    
        
    

    