{% extends 'base.html.twig' %}

{% block title %}Admin | {{ parent() }} {% endblock %}

{% block body %} 
    <body >

    {% block header %} 
        <header>
            {% block navbar %}  
                {% include "_partials/_navbarAdmin.html.twig" %} 
            {% endblock %}        
        </header>
                                
    {% endblock  %} 

        <main class='container-fluid'>

            <div class=" d-flex justify-content-around">
                <p>Total de Franchise = {{ countPartners }}   </p>
                <p>Total de Structures =  {{ countStructures }}  </p>
            </div>

<!-- Barre de recherche -->
            <nav class="d-flex justify-content-end">
                <div class="col-10">
                    <form class="d-flex ">
                        <input class="form-control me-2" type="search" placeholder="Text ici" aria-label="Search">
                        <button class="btn btn-success btn-sm" type="submit">Rechercher</button>
                    </form>
                </div>
            </nav>

            <section class="">
                <div class="row">
                    <div class="col">
                            <h2> {{ titleIndex }}</h2>
                                <a class='check' href='#'>Toutes</a>
                                <a class='check' href='#'>Active</a>
                                <a class='check' href='#'>Inactive</a>
                <!-- A VOIR SI COMMUTATEUR OU LIEN -->
                        {# <div class="d-flex justify-content-around ">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                    <label class="form-check-label" for="flexSwitchCheckChecked">Franchise Active</label>
                                </div>
                        </div> #}

                    {% include "_partials/_listpartner.html.twig" %}

                    </div>
                </div>
            </section>
        </main>

    </body>
{% endblock %}

