{% extends 'admin/index.html.twig' %}

{% block title %}Liste Admin | {{ parent() }} {% endblock %}


{% block body %}

{% block header %} {{parent()}} {% endblock  %}  


    <main class="container-fluid">

        <h1>Liste des Administrateurs</h1>
        {# <p>{{name}}</p> #}
<pre>
    {{ dump(name) }}
</pre>
    </main>

{% endblock %}

