{% extends 'admin/index.html.twig' %}

{% block title %}Liste  | {{ parent() }} {% endblock %}

{% block body %} 
    <body>
{% block header %} {{parent()}}  {% endblock  %}

        <main class='container-fluid'>
            <h1> Détail de la Structure  </h1>
        
        {% include "_partials/_structure.html.twig" %}


            <h2>Liste des permissions</h2>

        </main>

    </body>
{% endblock %}
    
        
    

    