{% extends 'admin/index.html.twig' %}

{% block title %}Liste  | {{ parent() }} {% endblock %}

{% block body %} 
{% block header %} {{parent()}}  {% endblock  %}
    <main class='container'>
        <h1> Franchises  </h1>
    

    </main>


{% endblock %}
    
        
    

    