{# CLIC SUR DETAIL ET ON ARRIVE ICI #}

{% extends 'admin/index.html.twig' %}

{% block title %}Liste  | {{ parent() }} {% endblock %}

{% block body %} 
<body>
    {% block header %} {{parent()}}  {% endblock  %}

    <main class='main-container col-12'>

            <h1> Détail de la franchise  </h1>
                {% include "_partials/_partner.html.twig" %}

                <h2>Liste des structures associées</h2>
                {# NE MARCHE PAS  #}
                {# {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %} #}
            
        
            {% include "_partials/_liststructure.html.twig" %}


            <h2>Permissions Globales</h2>


    </main>

</body>
{% endblock %}
    
        
    

    