body{
    background: rgb(51, 48, 48) url("./../img/img2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    text-align: center;
    line-height: 0px;
    color: #fff;
}

.box-connexion{
    position: relative;
    width: 400px;
    height: auto;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
}

.box-connexion:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    border-radius: 20px;
    z-index: -1 ;
}

.btn{
    text-align: center;
    display: flex;
    margin: 20px;
    background: #0b6e40;
    color: #fff;
}

h1{
    text-align: center;
    padding-bottom: 100px;
    color: #fff;
}
h2{
    font-size: 1.5em;
    margin-top: 20px;
}
input{
    margin: 20px;
}