.card
    background-color: $green
    margin: 5px
    margin-top: 20px
    margin-bottom: 30px
    border: solid 1px #000
    box-shadow: 10px 10px 5px $backGHS
    width: 15rem
.card-title
    font-size: 1.4em
.info
    font-size: 0.8em
.IsActive
    font-size: 0.8em
.info:hover
    color: #fff
    

/********MEDIA QUERY POUR ECRAN 460PX/********
/********min-width 460px/********
@include media($sx)
    .card
        width: 18rem
    .text-muted
        font-size: 1.2em

/********MEDIA QUERY POUR ECRAN 576PX/********
/********min-width 576px/********
@include media($sm)
    .card
        margin-left: 5px
        margin-right: 5px
    .card-title
        font-size: 1.5em
    .IsActive
        font-size: 0.9em
        padding-top: 4px


/********MEDIA QUERY POUR ECRAN 768PX/********
/********min-width 768px/********
@include media($md)
    .card
        margin-left: 20px
        margin-right: 20px


/********MEDIA QUERY POUR ECRAN 992PX/********
/********min-width 992px/********
@include media($lg)
    .card
        margin-left: 50px


