.card
    background-color: $green
    margin: 20px
    border: solid 1px #000
    box-shadow: 10px 10px 5px $backGHS

.btnDetail
    background-color: $greenDark
    color: #000 
    transition: 0.3s
    transition-property: color
    &:hover 
        color: #fff

.btn-warning
    transition: 0.3s
    transition-property: color
    &:hover 
        color: #fff

.info:hover
    color: #fff