// thE HEADER top start 
.wrapper 
    & .header-sidebar
        z-index: 1
        background-color: rgb(47, 50, 58)
        position: fixed
        width: 100%
        height: 80px
        display: flex
        top: 0
        right: 0
        & .header-menu
            width: 100%
            height: 100%
            display: flex
            justify-content: space-around
            align-items: center
            padding: 0 20px
            & .icon-fas
                // display: flex
                & .fas-fa
                    background-color: #fff
                    color: #000
                    display: block
                    margin: 0 10px
                    font-size: 18px
                    width: 34px
                    height: 34px
                    line-height: 35px
                    text-align: center
                    border-radius: 50%
                    transition: 0.3s
                    transition-property: background, color
                    &:hover 
                        color: #fff
                        background-color: $greenL

    // SIDEBAR start
.wrapper .sidebar   
    z-index: 1
    background-color: rgb(47, 50, 58)
    position: fixed
    top: 80px
    //A revoir
    // width: 250px
    // modifier mais la refaire lorsqu'on agrandit
    width: 15%
    height: 90%
    transition: 0.3s
    transition-property: width
    overflow-y: auto
    & .sidebar-menu
        overflow: hidden
        & .item
            // width: 255px
            width: 255px
            overflow: hidden
            & .menu-btn
                display: block
                color: #fff
                position: relative
                padding: 25px 18px
                transition: 0.3s
                transition-property: color
                &:hover
                    color: $greenL
                & i
                    margin-right: 10px
                & .drop-down
                    float: right
                    font-size: 12px
                    margin-top: 3px
            & .sub-menu
                background-color: $green
                max-height: 0
                overflow: hidden
                transition: 0.3s
                transition-property: background, max-height 
                & a
                    display: block
                    position: relative
                    color: #000
                    white-space: nowrap
                    font-size: 15px
                    padding: 20px
                    border-bottom: 1px solid #66e2a8
                    transition: 0.3s
                    transition-property: background
                    &:hover
                        background-color: #0b6e40
                & i
                    padding-right: 30px
                    font-size: 10px
        & .item:target .sub-menu
            // Chevron actif   
            max-height: 500px



/********MEDIA QUERY POUR ECRAN 576PX  ***********/
/******min-width 576px**************/
@include media($sm)
// VOIR LA DOC CAR SOUCIS CLASS="d-none d-sm-block va à la ligne"
    // .hidden
    //     display: inline-flex



