.body_home
    width: 100%
    background: rgb(51, 48, 48) url("../../images/img2.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    color: #fff
    text-align: center
    
.box_center
    text-shadow: 1px 1px 2px black, 0 0 0.2em $green, 0 0 0.2em $green
    display: flex
    justify-content: center
    align-items: center
    margin-top: 45px
    padding: 0 45px
    & .h2Home
        font-size: 2.5em
        margin-bottom: 50px
    & .pHome
        font-size: 1.8em
        & a:hover
            color: $green
            font-weight: bolder
            
/********MEDIA QUERY POUR ECRAN 400PX/********
/********min-width 400px/********
@include media($sx2)
    .titleHome
        padding-left: 20px

        
