.main-container
    & .count
        font-size: 0.9em
        text-align: right
        margin-bottom: 10px
    & .search
        display: flex
        margin-top: 10px
        & .inputSearch 
            background-color: $green
            height: 50px
            width: 240px
            text-align: center
            transition: 0.3s
            transition-property: width

.searchLink
    & .items_check
        & .item_check
            transition: 0.3s
            transition-property: color, font-weight 
            &:hover
                color: $greenDark
                font-weight: bolder
        & .active
            text-decoration: underline
            text-decoration-color: #0b6e40
            font-weight: bolder
            color: $greenDark


/********MEDIA QUERY POUR ECRAN 576PX  ***********/
/******min-width 576px**************/
@include media($sm)
    .main-container
        & .search 
            & .inputSearch 
                width: 450px


/********MEDIA QUERY POUR ECRAN 768PX  ***********/
/******min-width 768px**************/
@include media($md)
    .main-container
        margin-left: 150px
        margin-right: 0
        padding-left: 10px
        // padding-right: 10px
        padding-top: 10px
        & .search 
            & .inputSearch 
                width: 550px


/********MEDIA QUERY POUR ECRAN 1200PX  ***********/
/******min-width 1200px**************/
@include media($xl)
    .main-container
        & .search 
            & .inputSearch 
                width: 750px

        