{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block stylesheets %}

            


        {% endblock %}
{% block javascripts %}

        {% endblock %}



{% block body %}


<body class="" >




</body>
{% endblock %}