{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('test') }}
                
        {% endblock %}
{% block body %}
<body class="" >
    
    <h1 style="color: red;">hello</h1>
    cfhcjcgfjcgcjcgcgcgkckhcghckccgkcvk

</body>
{% endblock %}