{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block stylesheets %}

            


        {% endblock %}
{% block javascripts %}

        {% endblock %}



{% block body %}


<body class="" >

<h1>Permission de la structures de Albert de la franchise Toulouse</h1>

{% for permission in permissions %}
        <p> {{permission.title}}
        {# <pre>
                {{ dump(permission) }}
        </pre> #}
        
{% endfor %}


</body>
{% endblock %}