{% extends 'base.html.twig' %}
{% block title %}Accés Refusé |{{ parent() }}
{% endblock %}
{% block body %}
	{{ parent() }}
	<boby>
		<main class="error container">
			<h2 class="titleError">Oups une erreur est survenue</h2>
			{# <p class="textError">Accés refusé<br>Merci de vous connecter</p> #}
		</main>
	</boby>
{% endblock %}
