{% extends 'admin/index.html.twig' %}

{% block title %}Hello NewPermissionController!
{% endblock %}

{% block body %}
	{% block header %}
		{{ parent() }}

	{% endblock %}


	<main class='main-container col-12'>
		<h2>Créer une Permission</h2>

		{{ form_start(formPermission) }}
		{{ form_rest(formPermission) }}


{% if permission.isActive %}{% endif %}





<button class="btn mx-auto btnCustom" type="submit" id='test'>

{% if editMode %}
	Enregistrer les modifications
{% else %}
	Ajouter
{% endif %}


</button>

		{{ form_end(formPermission) }}



	</main>
{% endblock %}

