<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
        <h1>Demande de {{ contact.name}}</h1>
        <p>Email : {{ contact.email }}</p>
        <p>Sujet : {{ contact.subject }} </p>
        <p>Message :</p>
        <div>
            <p> {{contact.message |raw }} </p>
        </div>
	</body>
</html>


