<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>

		<h1>Modification de votre Compte</h1>

		<p>Bonjour,
			{% if structure.nameStructure is defined %}
				{{ structure.nameStructure }}
			{% endif %}
		</p>

		<p>Nous avons détecter des changements sur votre compte</p>
		<p>Vous pouvez vous connecter pour voir ses changements !!</p>
		<ul>
			<p>
				Pour Rappel votre identifiant de connection est :
				<li>
					{% if structure.nameStructure is defined %}
						{{ structure.user.email }}

					{% endif %}
				</li>
			</p>
		</ul>
		<p>
			Votre Mot de passe est : Vous avez dû le noté...</p>

		<p>Si vous avez des difficultés à vous connecter, veuillez nous contacter.</p>

		<p>Sportivement</p>
		<p>La team de FitnessDrive</p>
		</body>
	</body>
</html>

