<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>Modification de votre Compte</h1>
		<p>Bonjour,
			{% if partner.name is defined %}
				{{ partner.name }}
			{% endif %}
		</p>
		<p>Nous avons détecter des changements sur votre compte</p>
		<p>Vous pouvez vous connecter pour voir ses changements !!</p>
		<ul>
				<li>
            		<p> Pour Rappel votre identifiant de connection est : <br>
						{% if partner.name is defined %}
							{{ partner.user.email }}
						{% endif %}
					</p>
				</li>

				<li>
            		<p> Votre Mot de passe est : <br>
					Vous avez dû le noté
					</p>

				</li>
		</ul>
            <p>Si vous avez des difficultés à vous connecter, veuillez nous contacter.</p>
			<hr>
			<p>Sportivement</p>
			<p>La team de FitnessDrive</p>
	
	</body>
</html>

