{# CLIC SUR DETAIL ET ON ARRIVE ICI #}

{% extends 'admin/index.html.twig' %}

{% block title %}Détail  | {{ parent() }} {% endblock %}

{% block body %} 
<body>
    {% block header %} {{parent()}}  {% endblock  %}

    <main class='main-container col-12'>

    {% block Breadcrumb %}
        <section>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item back">
                        <a href="{{ path('app_admin') }}">Accueil</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Détail de la Franchise
                    </li>
                </ol>
            </nav>
        </section>
    {% endblock  %}

            <h2 class="titleIndex mt-4" id="detail"> Détail de la Franchise de  <span > {{ partner.namePartner}} </span> </h2>

                {% include "admin/partner/_partner.html.twig" %}

<hr class="separator">

            <h2 class="titleIndex mt-4">Liste des structures associées</h2>
                
        
                {% include "admin/structure/_liststructure.html.twig" %}

        <a class="rocket back" href='#detail'>
            <i class="fa fa-rocket" alt="Retour à la liste" title="Retour "></i>
        </a>

    </main>

</body>
{% endblock %}
    
        
    

    